# --- GitHub SECRETS (sensitive) ---
CF_ACCOUNT_ID=XXX
S3_ACCESS_KEY=XXX
S3_SECRET_KEY=XXX
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/XXX
ZT_NETWORK_ID=XXX
WIFI_SSID=office-ap
WIFI_PASSWORD=XXX